# Oneshot boot activation recovery systemd service unit executing recover-activation
# before controller.
[Unit]
Description=MentorPi Tank Boot Activation Recovery
DefaultDependencies=no
Conflicts=shutdown.target
Before=mentorpi-tank.service shutdown.target

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/opt/ubuntu_tank/libexec/recover-activation
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
